In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@host.docker.internal:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@host.docker.internal:5432/itversity_retail_db

In [3]:
%%sql

TRUNCATE TABLE orders

Done.

[]

In [4]:
import pandas as pd

In [ ]:
help(pd.read_csv)

In [5]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [6]:
import json

In [7]:
schemas = json.load(open('../data/retail_db/schemas.json'))

In [16]:
ds_name = 'orders'

In [21]:
ds_name

'orders'

In [17]:
columns = get_column_names(schemas, 'orders')

In [33]:
df = pd.read_csv('../data/retail_db/orders/part-00000', names=columns)

In [34]:
type(df)

pandas.core.frame.DataFrame

In [39]:
df_reader = pd.read_csv(
    f'../data/retail_db/{ds_name}/part-00000',
    names=columns,
    chunksize=10000
)

In [42]:
for idx, df in enumerate(df_reader):
    print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [43]:
conn_uri = 'postgresql://itversity_retail_user:itversity@host.docker.internal:5432/itversity_retail_db'

In [44]:
df_reader = pd.read_csv(
    '../data/retail_db/orders/part-00000',
    names=columns,
    chunksize=10000
)

In [46]:
for idx, df in enumerate(df_reader):
    print(f'Processing chunk {idx} with size {df.shape[0]} of {ds_name}')
    df.to_sql(
        'orders',
        conn_uri,
        if_exists='append',
        index=False
    )

Processing chunk 0 with size 10000 of orders
Processing chunk 1 with size 10000 of orders
Processing chunk 2 with size 10000 of orders
Processing chunk 3 with size 10000 of orders
Processing chunk 4 with size 10000 of orders
Processing chunk 5 with size 10000 of orders
Processing chunk 6 with size 8883 of orders

In [47]:
pd.read_sql(ds_name, conn_uri)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]